# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

github.ci/

# Build
build/
dist/
wheelhouse/

# Environments
.venv/
venv/
env/

# OS / editors
.DS_Store
.idea/
.vscode/
